@model FCore.Common.Models.Contacts.ContactInfoModel

@using (Ajax.BeginForm("EditDetails", "Config", Model, new AjaxOptions
{
    HttpMethod = "Post",
    UpdateTargetId = "userdetails_div",
    InsertionMode = InsertionMode.Replace
}))
{
    @Html.HiddenFor(m => (int)ViewData["memberId"])

    <div class="clearfix"></div>
    <div style="margin-top:10%">

        <div class="bot-border"></div>

        <div class="col-sm-7">
            @Html.EditorFor(m => Model.Country)
            @Html.ValidationMessageFor(m => Model.Country)
        </div>
        <div class="col-sm-5 col-xs-6 tital ">
            @Html.LabelFor(m => Model.Country)
        </div>
        <div class="clearfix"></div>
        <div class="bot-border"></div>

        <div class="col-sm-7 col-xs-6 ">
            @Html.EditorFor(m => Model.City)
            @Html.ValidationMessageFor(m => Model.City)
        </div>
        <div class="col-sm-5 col-xs-6 tital ">
            @Html.LabelFor(m => Model.City)
        </div>
        <div class="clearfix"></div>
        <div class="bot-border"></div>

        <div class="col-sm-7">
            @Html.EditorFor(m => Model.Street)
            @Html.ValidationMessageFor(m => Model.Street)
        </div>
        <div class="col-sm-5 col-xs-6 tital ">
            @Html.LabelFor(m => Model.Street)
        </div>
        <div class="clearfix"></div>
        <div class="bot-border"></div>

        <div class="col-sm-7">
            @Html.EditorFor(m => Model.HouseNo)
            @Html.ValidationMessageFor(m => Model.HouseNo)
        </div>
        <div class="col-sm-5 col-xs-6 tital ">
            @Html.LabelFor(m => Model.HouseNo)
        </div>
        <div class="clearfix"></div>
        <div class="bot-border"></div>

        <div class="col-sm-7">
            @Html.EditorFor(m => Model.PhoneNo)
            @Html.ValidationMessageFor(m => Model.PhoneNo)
        </div>
        <div class="col-sm-5 col-xs-6 tital ">
            @Html.LabelFor(m => Model.PhoneNo)
        </div>
        <div class="clearfix"></div>
        <div class="bot-border"></div>

        <div class="col-sm-7">
            @Html.EditorFor(m => Model.Email)
            @Html.ValidationMessageFor(m => Model.Email)
        </div>
        <div class="col-sm-5 col-xs-6 tital ">
            @Html.LabelFor(m => Model.Email)
        </div>
        <div class="clearfix"></div>
        <div class="bot-border"></div>

    </div>

    <br />

    <div class="price-table-button-holder" style="display:inline; margin-right:2%">
        <input type="submit" value="Save" class="btn btn-info" style="width:20%; background-color:#43b98a; border-color:#43b98a"/>
    </div>
}

    


