@model FCore.Common.Models.Members.PermissionsModel

@using (@Ajax.BeginForm("EditPermissions", new { @memberId = (int)ViewData["memberId"], @id = Model.Id },
               new AjaxOptions
               {
                   UpdateTargetId = "userperms_div",
                   InsertionMode = InsertionMode.Replace
               }))
{
    <div class="clearfix"></div>
    <div style="margin-top:10%">

        <div class="bot-border" ></div>
        
        <div class="col-sm-5 col-xs-6 tital" style="width:95%">
            @Html.LabelFor(m => Model.Admin)
        </div>
        <div class="col-sm-7" style="width:5%">

            @*<input class="checkbox" data-val="false" data-val-required="req" id="Admin" type="checkbox" value="false"/>
            <input name="Admin" type="hidden" value="true"/>*@

             @Html.EditorFor(m => Model.Admin, new { @checked = Model.Admin }) 
        </div>
        <div class="clearfix"></div>
        <div class="bot-border"></div>
        
        <div class="col-sm-5 col-xs-6 tital " style="width:95%">
            @Html.LabelFor(m => Model.Create)
        </div>
        <div class="col-sm-7 col-xs-6 " style="width:5%">
            @Html.EditorFor(m => Model.Create, new { @checked = Model.Create })
        </div>
        <div class="clearfix"></div>
        <div class="bot-border"></div>
        
        <div class="col-sm-5 col-xs-6 tital " style="width:95%">
            @Html.LabelFor(m => Model.Edit)
        </div>
        <div class="col-sm-7" style="width:5%">
            @Html.EditorFor(m => Model.Edit, new { @checked = Model.Edit })
        </div>
        <div class="clearfix"></div>
        <div class="bot-border"></div>
        
        <div class="col-sm-5 col-xs-6 tital " style="width:95%">
            @Html.LabelFor(m => Model.ManageChat)
        </div>
        <div class="col-sm-7" style="width:5%">
            @Html.EditorFor(m => Model.ManageChat, new { @checked = Model.ManageChat })
        </div>
        <div class="clearfix"></div>
        <div class="bot-border"></div>

        <input id="form_submit" type="submit" value="test"/>
    </div>
}

<div class="clearfix" style="margin-top:3%"></div>