@model FCore.Common.Models.Members.FamilyMemberModel

<div class="clearfix"></div>
<div style="margin-top:10%">

    <div class="bot-border"></div>

    <div class="col-sm-7">
        @Model.ContactInfo.Country
    </div>
    <div class="col-sm-5 col-xs-6 tital ">
        @Html.LabelFor(m => Model.ContactInfo.Country)
    </div>
    <div class="clearfix"></div>
    <div class="bot-border"></div>

    <div class="col-sm-7 col-xs-6 ">
        @Model.ContactInfo.City
    </div>
    <div class="col-sm-5 col-xs-6 tital ">
        @Html.LabelFor(m => Model.ContactInfo.City)
    </div>
    <div class="clearfix"></div>
    <div class="bot-border"></div>

    <div class="col-sm-7">
        @Model.ContactInfo.Street
    </div>
    <div class="col-sm-5 col-xs-6 tital ">
        @Html.LabelFor(m => Model.ContactInfo.Street)
    </div>
    <div class="clearfix"></div>
    <div class="bot-border"></div>

    <div class="col-sm-7">
        @Model.ContactInfo.HouseNo
    </div>
    <div class="col-sm-5 col-xs-6 tital ">
        @Html.LabelFor(m => Model.ContactInfo.HouseNo)
    </div>
    <div class="clearfix"></div>
    <div class="bot-border"></div>

    <div class="col-sm-7">
        @Model.ContactInfo.PhoneNo
    </div>
    <div class="col-sm-5 col-xs-6 tital ">
        @Html.LabelFor(m => Model.ContactInfo.PhoneNo)
    </div>
    <div class="clearfix"></div>
    <div class="bot-border"></div>

    <div class="col-sm-7">
        @Model.ContactInfo.Email
    </div>
    <div class="col-sm-5 col-xs-6 tital ">
        @Html.LabelFor(m => Model.ContactInfo.Email)
    </div>
    <div class="clearfix"></div>
    <div class="bot-border"></div>

</div>

<br />

<div class="price-table-button-holder" style="display:inline; margin-right:2%">
    <div class="btn btn-info" style="width:20%; background-color:#43b98a; border-color:#43b98a">
        @Ajax.ActionLink("Edit details", "EditDetails", new { @memberId = Model.Id, @contactInfoId = Model.ContactInfoId },
                                   new AjaxOptions
                                   {
                                       HttpMethod = "Get",
                                       UpdateTargetId = "userdetails_div",
                                       InsertionMode = InsertionMode.Replace
                                   },
                                   new { @style = "color:white" })
    </div>
</div>

