@model ICollection<FCore.Common.Models.Families.FamilyModel>

<div>
    <div>
        <table>
            @{
                foreach (var family in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayNameFor(f => family.Name):
                            @family.Name
                        </td>
                    </tr>

                    <tr>
                        <td>
                            @Html.DisplayNameFor(m => family.FamilyMembers.FirstOrDefault().FirstName)
                        </td>
                        <td>
                            @Html.DisplayNameFor(m => family.FamilyMembers.FirstOrDefault().LastName)
                        </td>
                    </tr>

                    foreach (var member in family.FamilyMembers)
                    {
                        <tr>
                            <td>
                                @member.FirstName
                            </td>
                            <td>
                                @member.LastName
                            </td>
                        </tr>
                    }
                }
            }
        </table>
    </div>
</div>

