@model FCore.Common.Models.Contacts.ContactInfoModel

<div class="container">
    <div class="row bs-wizard" style="border-bottom:0; margin-left:-9%">

        <div class="col-xs-3 bs-wizard-step disabled">
            <div class="text-center bs-wizard-stepnum">Step 1</div>
            <div class="progress" style="width:30%; background-color:#7da4f5"><div class="progress-bar"></div></div>
            <div class="bs-wizard-dot" style="background-color:#7da4f5"></div>
            @*<div class="bs-wizard-info text-center">Profile picture</div>*@
        </div>

        <div class="col-xs-3 bs-wizard-step disabled" style="margin-left:-10%">
            <div class="text-center bs-wizard-stepnum">Step 2</div>
            <div class="progress" style="width:60%; background-color:#7da4f5"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot" style="background-color:#7da4f5"></a>
            @*<div class="bs-wizard-info text-center">Personal info</div>*@
        </div>

        <div class="col-xs-3 bs-wizard-step active" style="margin-left:-10%">
            <div class="text-center bs-wizard-stepnum">Step 3</div>
            <div class="progress" style="width:60%; background-color:#7da4f5"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot" style="background-color:#7da4f5"></a>
            @*<div class="bs-wizard-info text-center">Contact info</div>*@
        </div>

        <div class="col-xs-3 bs-wizard-step disabled" style="margin-left:-10%">
            <div class="text-center bs-wizard-stepnum">Step 4</div>
            <div class="progress" style="width:50%; background-color:#7da4f5"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot" style="background-color:#7da4f5"></a>
            @*<div class="bs-wizard-info text-center">Life story</div>*@
        </div>

    </div>
</div>

@using (Ajax.BeginForm("AddContactInfo", "AddChildWizard", Model, new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "wizard_page",
    HttpMethod = "Post"
}))
{
    <div class="clearfix" style="margin-top:5%"></div>
    <div style="margin-left:2%; font-weight:bold; font-size:x-large; color:#6fadbe">Contact info</div>
    <div class="bot-border"></div>

    <div class="col-sm-5 col-xs-6 tital ">
        @Html.LabelFor(m => Model.Country)
    </div>
    <div class="col-sm-7">
        @Html.EditorFor(m => Model.Country, new { htmlAttributes = new { @Value = "Israel", @readonly = "readonly" } })
        @Html.ValidationMessageFor(m => Model.Country)
    </div>
    <div class="clearfix"></div>
    <div class="bot-border"></div>

    <div class="col-sm-5 col-xs-6 tital ">
        @Html.LabelFor(m => Model.City)
    </div>
    <div class="col-sm-7 col-xs-6 ">

        @Html.DropDownList("City", ViewData["cityenum"] as ICollection<SelectListItem>)

    </div>
    <div class="clearfix"></div>
    <div class="bot-border"></div>

    <div class="col-sm-5 col-xs-6 tital ">
        @Html.LabelFor(m => Model.Street)
    </div>
    <div class="col-sm-7">
        @Html.EditorFor(m => Model.Street) @*, new { htmlAttributes = new { @Value = "" } }*@
        @Html.ValidationMessageFor(m => Model.Street)
    </div>
    <div class="clearfix"></div>
    <div class="bot-border"></div>

    <div class="col-sm-5 col-xs-6 tital ">
        @Html.LabelFor(m => Model.HouseNo)
    </div>
    <div class="col-sm-7">
        @Html.EditorFor(m => Model.HouseNo)
        @Html.ValidationMessageFor(m => Model.HouseNo)
    </div>
    <div class="clearfix"></div>
    <div class="bot-border"></div>

    <div class="col-sm-5 col-xs-6 tital ">
        @Html.LabelFor(m => Model.PhoneNo)
    </div>
    <div class="col-sm-7">
        @Html.EditorFor(m => Model.PhoneNo)
        @Html.ValidationMessageFor(m => Model.PhoneNo)
    </div>
    <div class="clearfix"></div>
    <div class="bot-border"></div>

    <div class="col-sm-5 col-xs-6 tital ">
        @Html.LabelFor(m => Model.Email)
    </div>
    <div class="col-sm-7">
        @Html.EditorFor(m => Model.Email)
        @Html.ValidationMessageFor(m => Model.Email)
    </div>
    <div class="clearfix"></div>
    <div class="bot-border"></div>

    <br />

    <div>
        <input id="back_from_ci" type="button" class="btn btn-info" value="<<  Back" style="display:inline; margin-left:2%; width:17%" onclick="BackFromPersonalInfo" />

        <input class="btn btn-info" type="submit" value="Next step  >>" style="margin-left:62%; display:inline" />
    </div>
}

<script>
    $(function () {
        $('#back_from_ci').on('click', function () {
            var url = '@Url.Action("LoadPersonalInfo", "AddChildWizard")'
            $('#wizard_page').load(url)
        })
    })
</script>