@model FCore.Common.Models.Members.FamilyMemberModel


@using (Ajax.BeginForm("AddProfileImage", "AddChildWizard",
                    Model, new AjaxOptions
                    {
                        HttpMethod = "Post",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "wizard_page"
                    }, new { id = "form_profile" })) // , @creatorId = Model.Id
{
    <div style="margin-top:5%">

        @Html.HiddenFor(m => Model.Id)

        <div style="margin-left:2%; font-weight:bold; font-size:x-large; color:#6fadbe">@Html.LabelFor(m => Model.ProfileImagePath)</div>
        <div class="bot-border"></div>

        <div class="col-sm-12">
            <div align="center" style="margin-top:7%; margin-bottom:5%">
                @{if (String.IsNullOrWhiteSpace((string)Session["filepath"]))
                    {
                        <img src="@Url.Content("~/Images/Defualt/profile_defualt.jpg")"
                             id="profile-image-defualt" class="img-circle img-responsive" />
                    }
                    else
                    {
                        <img src="@Url.Content((string)Session["filepath"])" id="profile-image" class="img-circle img-responsive"
                             style="border-radius:50%; cursor:pointer" />
                    }
                }

                <input id="profile-image-upload" name="ProfileImagePath" class="hidden" type="file">
                @*<input type="hidden" id="hidden_img_path" name="ProfileImagePath"/>*@
                @Html.HiddenFor(m => Model.ProfileImagePath, new { htmlAttributes = new { @id = "hidden_img_path"} })
                <div style="margin-top:5%">@Html.ValidationMessageFor(m => Model.ProfileImagePath)</div>
                @{
                    if (String.IsNullOrWhiteSpace((string)Session["filename"]))
                    {
                        <div id="message_file" style="color:#999; margin-top:3%">Click avatar to choose profile picture</div>
                    }
                    else
                    {
                        <div id="message_file" style="color:#999; margin-top:3%">@Session["filename"]</div>
                    }
                }

            </div>
        </div>

        <div class="clearfix"></div>
        <div class="bot-border"></div>

        <br />
        <div style="margin-bottom:5%">
            <input id="input_btn_profile" class="btn btn-info" type="submit" value="Next step  >>" style="margin-left:81%" />
        </div>
    </div>
                    }

<script>
    $(function () {
        $('#profile-image-defualt').on('click', function () {
            $('#profile-image-upload').click();
        });
    });

    $(function () {
        $('#profile-image').on('click', function () {
            $('#profile-image-upload').click();
        });
    });

    $(function () {
        $('#profile-image-upload').on('change', function (event) {
            var path = $(this).val();
            var filename = path.replace(/.*[\/\\]/, '');
            $('#message_file').text(filename);

            //document.getElementById('hidden_img_path').value = path;
            //var val = $('#hidden_img_path').val();

            $.each($('input'), function () {
                if ($(this).attr("type") == "hidden") {
                    var id = $(this).attr('id');
                    if (id == "ProfileImagePath") {
                        $(this).val(path);
                    }
                }
            })


            //var localpath = '~' + '@Url.Content("~/Images/Profiles/")' + filename

            //$('Eprofile-image-defualt').attr('src', URL.createObjectURL(event.target.files[0]))

            //var fileReader = new FileReader();
            //fileReader.readAsDataURL($(this).files[0])
            //fileReader.onloadend = function (event) {
            //    $('Eprofile-image-defualt').src = event.target.result;
            //}
        });
    });

    //$(function () {
    //    $('#form_profile').on('submit', function () {
    //        var form = $(this);
    //        var url = form.attr('action');

    //        //var path = $('#profile-image-upload').val();
    //        //$('#ProfileImagePath').val() = path;

    //        var data = new FormData(form[0]);
    //        $.post(url, data, function (result) {
    //            $('#wizard_page').html(result)
    //        });
    //    });
    //});

    $(function () {
        $('#input_btn_profile').on('click', function (event) {
            event.preventDefault();
            var formData = new FormData($('#form_profile')[0]);
            $.ajax({
                url: '/AddChildWizard/AddProfileImage',
                type: 'Post',
                xhr: function () {
                    var xhr = $.ajaxSettings.xhr();
                    if (xhr.upload) {
                        xhr.upload.addEventListener('progress',
                            SetFileName, false);
                    }
                    return xhr;
                },
                data: formData, // $('#form_profile').serialize(),
                cache: false,
                contentType: false,
                processData: false,
                success: function () {
                    //$('#wizard_page').html(result);
                    var url = '@Url.Action("LoadPersonalInfo", "AddChildWizard", Model)';
                    //var routeUrl = '@Url.RouteUrl("AddChildWizard", new { controller = "AddChildWizard", action = "LoadPersonalInfo", @creator = Model })'
                    $('#wizard_page').load(url);
                    //$.ajaxSettings.
                },
                error: function () {
                    var url = '@Url.Action("LoadProfileImage", "AddChildWizard", Model)';
                    $('#wizard_page').load(url);
                }
            });
        });
    })

    function SetFileName(e) {
        if (e.lengthComputable) {
            //var path = $('#profile-image-upload').val();
            //var filename = path.replace(/.*[\/\\]/, '');
            //$('#message_file').text(filename);
        }
    }

</script>

@*
        @using (Ajax.BeginForm("AddProfileImage", "AddChildWizard", Model, new AjaxOptions
        {
            HttpMethod = "Post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "wizard_page"
        }, new { @enctype = "multipart/form-data" }))
        {
            <div style="margin-top:5%">

                <div style="margin-left:2%; font-weight:bold; font-size:x-large; color:#6fadbe">@Html.LabelFor(m => Model.ProfileImagePath)</div>
                <div class="bot-border"></div>

                <div class="col-sm-12" style="margin-top:2%; margin-bottom:2%">

                    <div style="display:inline">
                        <input id="input_file" type="file" name="ProfileImagePath" style="display:inline; width:25%; margin-top:5%" />
                        <span id="file_sel_path">No file selected</span>
                        <button id="input_file_btn" class="btn btn-info" style="max-height:25px; padding:0.3%; width:20%; margin-top:10%; margin-left:-15%">Choose image</button>
                        @Html.ValidationMessageFor(m => Model.ProfileImagePath)
                    </div>

                    <img alt="User Pic" src="@Url.Content("~/Images/Defualt/profile_defualt.jpg")" id="profile-image-defualt" class="img-circle" style="cursor:auto; display:inline; margin-left:40%">

                </div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>

                <br />

                <input class="btn btn-info" type="submit" value="Next step  >>" style="margin-left:81%" />
            </div>
    }
*@
