@model FCore.Common.Models.Members.FamilyMemberModel


@using (Ajax.BeginForm("AddProfileImage", "AddChildWizard",
                        Model, new AjaxOptions
                        {
                            HttpMethod = "Post",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "wizard_page"
                        }, new { id = "form_profile" })) // , @creatorId = Model.Id
{
    <div style="margin-top:5%">

        @Html.HiddenFor(m => Model.Id)
        <input id="profile-image-upload" name="ProfileImagePath" class="hidden" type="file">
        @Html.HiddenFor(m => Model.ProfileImagePath)

        <div style="margin-left:2%; font-weight:bold; font-size:x-large; color:#6fadbe">@Html.LabelFor(m => Model.ProfileImagePath)</div>
        <div class="bot-border"></div>

        <div class="col-sm-12">
            <div align="center" style="margin-top:7%; margin-bottom:5%">
                <div style="display:inline">
                    @{if (String.IsNullOrWhiteSpace((string)Session["filepath"]))
                {
                            <img style="display:inline" src="@Url.Content("~/Images/Defualt/profile_defualt.jpg")"
                                 id="profile-image-defualt" class="img-circle img-responsive" />
                        }
                        else
                        {
                            <img style="display:inline" src="@Url.Content((string)Session["filepath"])"
                                 id="profile-image" class="img-circle img-responsive" />
                        }
                    }
                </div>

                @{
                    if (String.IsNullOrWhiteSpace((string)Session["filename"]))
                    {
                        if (Session["modelstate"] == null)
                        {
                            <div id="message_file" style="color:#999; margin-top:3%">Click avatar to choose profile picture</div>
                        }
                        else
                        {
                            <div id="message_file" style="color:#999; margin-top:3%">
                                @Html.ValidationMessageFor(m => Model.ProfileImagePath, "", new { @style = Session["validcolor"] })
                            </div>
                        }
                    }
                    else
                    {
                        <div id="message_file" style="color:#999; margin-top:3%">@Session["filename"]</div>
                    }
                }

            </div>
        </div>

        <div class="clearfix"></div>
        <div class="bot-border"></div>

        <br />
        <div style="margin-bottom:5%">
            <input id="input_btn_profile" class="btn btn-info" type="submit" value="Next step  >>" style="margin-left:81%" />
        </div>
    </div>
                    }

<script>
    $(function () {
        $('#profile-image-defualt').on('click', function () {
            $('#profile-image-upload').click();
        });
    });

    $(function () {
        $('#profile-image').on('click', function () {
            $('#profile-image-upload').click();
        });
    });

    $(function () {
        $('#profile-image-upload').on('change', function (event) {
            var path = $(this).val();
            var filename = path.replace(/.*[\/\\]/, '');
            $('#message_file').text(filename);

            $.each($('input'), function () {
                if ($(this).attr("type") == "hidden") {
                    var id = $(this).attr('id');
                    if (id == "ProfileImagePath") {
                        $(this).val(path);
                    }
                }
            });
        });
    });

    $(function () {
        $('#input_btn_profile').on('click', function (event) {
            event.preventDefault();
            var formData = new FormData($('#form_profile')[0]);
            $.ajax({
                url: '/AddChildWizard/AddProfileImage',
                type: 'Post',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function () {
                    var url = '@Url.Action("LoadPersonalInfo", "AddChildWizard", Model)';
                    $('#wizard_page').load(url);
                },
                error: function () {
                    var url = '@Url.Action("LoadProfileImage", "AddChildWizard", Model)';
                    $('#wizard_page').load(url);
                }
            });
        });
    });

</script>
