@model FCore.Common.Models.Users.UserModel

<div class="container">
    <div class="row bs-wizard" style="border-bottom:0; margin-left:-9%">

        <div class="col-xs-3 bs-wizard-step active">
            <div class="text-center bs-wizard-stepnum">Step 1</div>
            <div class="progress" style="width:30%; background-color:#7da4f5"><div class="progress-bar"></div></div>
            <div class="bs-wizard-dot" style="background-color:#7da4f5"></div>
        </div>

        <div class="col-xs-3 bs-wizard-step disabled" style="margin-left:-10%">
            <div class="text-center bs-wizard-stepnum">Step 2</div>
            <div class="progress" style="width:60%; background-color:#7da4f5"><div class="progress-bar"></div></div>
            <div class="bs-wizard-dot" style="background-color:#7da4f5"></div>
        </div>

        <div class="col-xs-3 bs-wizard-step disabled" style="margin-left:-10%">
            <div class="text-center bs-wizard-stepnum">Step 3</div>
            <div class="progress" style="width:60%; background-color:#7da4f5"><div class="progress-bar"></div></div>
            <div class="bs-wizard-dot" style="background-color:#7da4f5"></div>
        </div>

        <div class="col-xs-3 bs-wizard-step disabled" style="margin-left:-10%">
            <div class="text-center bs-wizard-stepnum">Step 4</div>
            <div class="progress" style="width:50%; background-color:#7da4f5"><div class="progress-bar"></div></div>
            <div class="bs-wizard-dot" style="background-color:#7da4f5"></div>
        </div>

    </div>
</div>

<br />

<div class="clearfix"></div>

<div class="valid-box">
    @Html.ValidationMessage("pass0", new { @class = "valid-msg", id = "pass0_div" }, "div")
    @Html.ValidationMessage("pass1", new { @class = "valid-msg" }, "div")
    @Html.ValidationMessage("pass2", new { @class = "valid-msg" }, "div")
    @Html.ValidationMessage("pass3", new { @class = "valid-msg" }, "div")
</div>

<div style="margin-top:5%; margin-bottom:5%;">
    @using (Ajax.BeginForm("ValidateUsername", "Acount", Model, new AjaxOptions
    {
        HttpMethod = "Post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "register_wizard",
        OnSuccess = "SetUsernameBox"
    }, new { id = "form_username" }))
    {
        <div style="margin-left:2%; font-weight:bold; font-size:x-large; color:#6fadbe;">Initial info</div>
        <div class="clearfix"></div>

        <div class="bot-border"></div>

        <div class="col-sm-5 col-xs-6 tital ">
            @Html.LabelFor(m => Model.UserName)
        </div>
        <div class="col-sm-7">
            @Html.TextBoxFor(m => Model.UserName, new { @id = "username_box" })
            @Html.ValidationMessageFor(m => Model.UserName)
        </div>

        <input id="form_username_submit" type="submit" style="display:none" />
    }

    @using (Ajax.BeginForm("ValidatePassword", "Acount", Model, new AjaxOptions
    {
        HttpMethod = "Post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "register_wizard",
        OnSuccess = "SetPasswordBox"
    }, new { id = "form_password" }))
    {
        <div class="clearfix"></div>
        <div class="bot-border"></div>

        <div class="col-sm-5 col-xs-6 tital ">
            @Html.LabelFor(m => Model.Password)
        </div>
        <div class="col-sm-7">
            @if (Model == null)
            {
                @Html.PasswordFor(m => Model.Password, new { @id = "password_box" })
            }
            else
            {
                @Html.PasswordFor(m => Model.Password, new { @id = "password_box", @value = Model.Password })
            }
            @Html.ValidationMessageFor(m => Model.Password)
        </div>

        <input id="form_password_submit" type="submit" style="display:none" />
    }

    @using (Ajax.BeginForm("ValidateProfileImage", "Acount", Model, null, new { id = "form_profile_image" }))
    {
        <div class="clearfix"></div>
        <div class="bot-border"></div>
        <div class="bot-border"></div>

        <input id="profile-image-upload" name="ProfileImagePath" class="hidden" type="file">
        @Html.HiddenFor(m => Model.Member.ProfileImagePath, new { id = "hidden_input_image" })

        <div style="margin-left:2%; margin-top:5%; font-weight:bold; font-size:x-large; color:#6fadbe">@Html.LabelFor(m => Model.Member.ProfileImagePath)</div>
        <div class="bot-border"></div>

        <div class="col-sm-12">
            <div align="center" style="margin-top:7%; margin-bottom:5%">
                <div style="display:inline">
                    @{if (String.IsNullOrWhiteSpace((string)Session["filepath"]))
                        {
                            <img style="display:inline" src="@Url.Content("~/Images/Defualt/profile_defualt.jpg")"
                                 id="profile-image-defualt" class="img-circle img-responsive" />
                        }
                        else
                        {
                            <img style="display:inline" src="@Url.Content((string)Session["filepath"])"
                                 id="profile-image" class="img-circle img-responsive" />
                        }
                    }
                </div>

                @{
                    if (String.IsNullOrWhiteSpace((string)Session["filename"]))
                    {
                        <div id="message_file" style="color:#999; margin-top:3%">
                            @Html.ValidationMessage("chooseImage") 
                            @Html.ValidationMessage("requiredImage", new { @style = Session["validcolor"] })
                        </div>
                    }
                    else
                    {
                        <div id="message_file" style="color:#999; margin-top:3%">@Session["filename"]</div>
                    }
                }

            </div>
        </div>

        <input id="form_image_submit" type="submit" style="display:none" />

    }

    @using (Ajax.BeginForm("AddInitialInfo", "Acount", Model, new AjaxOptions
    {
        HttpMethod = "Post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "register_wizard"
    }, new { id = "page_submit" }))
    {
        <div class="clearfix"></div>
        <div class="bot-border"></div>

        @Html.HiddenFor(m => Model.UserName, new { id = "next_hidden_username"})
        @Html.HiddenFor(m => Model.Password, new { id = "next_hidden_password" })
        @Html.HiddenFor(m => Model.Member.ProfileImagePath, new { id = "next_hidden_image" })

            <div class="form-group">
                <div style="margin-bottom:5%">
                    <input id="input_btn_profile" class="btn btn-info" type="submit" value="Next step  >>" style="margin-left:81%; margin-top:5%" />
                </div>
            </div>
    }

</div>


<script>
    $(function () {
        $('#password_box').on('input', function (event) {
            var text = $(this).val();
            if (text.length >= 2) {
                $('#form_password_submit').click();
            }
        })
    })

    function SetPasswordBox() {
        var input = $('#password_box');
        var len = input.val().length;
        if (len > 0) {
            var val = input.val();
            input.focus().val('').val(val);
        }
    }

    $(function () {
        $('#username_box').on('input', function () {
            var text = $(this).val();
            if (text.length >= 2) {
                $('#form_username_submit').click();
            }
        })
    })

    function SetUsernameBox() {
        var input = $('#username_box');
        var len = input.val().length;
        if (len > 0) {
            var val = input.val();
            input.focus().val('').val(val);
        }
    }

    $(function () {
        $('#profile-image-defualt').on('click', function () {
            $('#profile-image-upload').click();
        });
    });

    $(function () {
        $('#profile-image').on('click', function () {
            $('#profile-image-upload').click();
        });
    });

    $(function () {
        $('#profile-image-upload').on('change', function () {
            var path = $(this).val();
            var filename = path.replace(/.*[\/\\]/, '');
            $('#message_file').text(filename);

            $.each($('input'), function () {
                if ($(this).attr("type") == "hidden") {
                    var id = $(this).attr('id');
                    if (id == "hidden_input_image") {
                        $(this).val(path);
                        $('#form_image_submit').click();
                    }
                }
            });
        });
    });

    $(function () {
        $('#form_image_submit').on('click', function (event) {
            event.preventDefault();
            var formData = new FormData($('#form_profile_image')[0]);
            $.ajax({
                url: '/Acount/ValidateProfileImage',
                type: 'Post',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function () {
                    var url = '@Url.Action("LoadInitialInfo", "Acount", Model)';
                    $('#register_wizard').load(url);
                }
            });
        });
    });

    $(function () {
        $('#input_btn_profile').on('click', function () {
            $('#next_hidden_username').val($('#username_box').val());
            $('#next_hidden_password').val($('#password_box').val());
            $('#next_hidden_imaged').val($('#hidden_input_image').val());
        })
    })

</script>
