@model FCore.Common.Models.Users.UserModel

<div class="container">
    <div class="row bs-wizard" style="border-bottom:0; margin-left:-9%">

        <div class="col-xs-3 bs-wizard-step active">
            <div class="text-center bs-wizard-stepnum">Step 1</div>
            <div class="progress" style="width:30%; background-color:#7da4f5"><div class="progress-bar"></div></div>
            <div class="bs-wizard-dot" style="background-color:#7da4f5"></div>
        </div>

        <div class="col-xs-3 bs-wizard-step disabled" style="margin-left:-10%">
            <div class="text-center bs-wizard-stepnum">Step 2</div>
            <div class="progress" style="width:60%; background-color:#7da4f5"><div class="progress-bar"></div></div>
            <div class="bs-wizard-dot" style="background-color:#7da4f5"></div>
        </div>

        <div class="col-xs-3 bs-wizard-step disabled" style="margin-left:-10%">
            <div class="text-center bs-wizard-stepnum">Step 3</div>
            <div class="progress" style="width:60%; background-color:#7da4f5"><div class="progress-bar"></div></div>
            <div class="bs-wizard-dot" style="background-color:#7da4f5"></div>
        </div>

        <div class="col-xs-3 bs-wizard-step disabled" style="margin-left:-10%">
            <div class="text-center bs-wizard-stepnum">Step 4</div>
            <div class="progress" style="width:50%; background-color:#7da4f5"><div class="progress-bar"></div></div>
            <div class="bs-wizard-dot" style="background-color:#7da4f5"></div>
        </div>

    </div>
</div>

<br />

@using (Ajax.BeginForm("RegisterPage", "Acount", @*AddUserNamePass*@
                    Model, new AjaxOptions
                    {
                        HttpMethod = "Post",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "register_wizard"
                    }, new { id = "form_profile" }))
{
    @*<div class="modal-body">
            <div class="form-group">
                @Html.TextBoxFor(u => Model.UserName, new { @class = "form-control input-lg", @placeholder = "Username" })
                @Html.ValidationMessageFor(u => Model.UserName)
            </div>
            <div class="form-group">
                @Html.PasswordFor(u => Model.Password, new { @class = "form-control input-lg", @placeholder = "Password" })
                @Html.ValidationMessageFor(u => Model.Password)
            </div>
            <div class="form-group">
                <div style="margin-bottom:5%">
                    <input id="input_btn_profile" class="btn btn-info" type="submit" value="Next step  >>" style="margin-left:81%" />
                </div>
            </div>
        </div>*@

    <div class="modal-body">
        <div class="clearfix"></div>
        <div style="margin-top:5%; margin-bottom:5%;">

            <div style="margin-left:2%; font-weight:bold; font-size:x-large; color:#6fadbe;">Initial info</div>
            <div class="clearfix"></div>

            <div class="bot-border"></div>

            <div class="form-group">
                <div class="col-sm-5 col-xs-6 tital ">
                    @Html.LabelFor(m => Model.UserName)
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(m => Model.UserName, new { @class = "form-control input-lg", @placeholder = "Username" })
                    @Html.ValidationMessageFor(m => Model.UserName)
                    }
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="bot-border"></div>

            <div class="form-group">
                <div class="col-sm-5 col-xs-6 tital ">
                    @Html.LabelFor(m => Model.Password)
                </div>
                <div class="col-sm-7">
                    @Html.PasswordFor(m => Model.Password, new { @class = "form-control input-lg", @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => Model.Password)
                    }
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="bot-border"></div>

            <div class="form-group">
                <div class="form-group">
                    <div style="margin-bottom:5%">
                        <input id="input_btn_profile" class="btn btn-info" type="submit" value="Next step  >>" style="margin-left:81%" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
