@model IEnumerable<FCore.Common.Models.Users.UserModel>

@{
    Layout = "~/Views/Shared/LoginReg_Layout.cshtml";
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="text-center">Choose user</h1>
        </div>

        <div class="modal-body">
            @{
                foreach (var user in Model)
                {
                    <div class="form-group">
                        <div class="form-group" style="display:inline">
                            <img style="display:inline; cursor:default" src="@Url.Content(user.Member.ProfileImagePath)"
                                 id="profile-image" class="img-circle" />
                        </div>
                        <div class="form-group" style="display:inline-grid">
                            <span>@Html.LabelFor(m => </span>
                            <span>@user.UserName</span>
                            <span>@user.Member.ContactInfo.MemberName</span>
                            <span>@user.Member.ContactInfo.Email</span>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>