@model FCore.Common.Models.Users.UserModel

@{ 
    Layout = "~/Views/Shared/LoginReg_Layout.cshtml";
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="text-center">Welcome</h1>
        </div>
        @using (Html.BeginForm("LoginPage", "Acount", FormMethod.Post))
        {
            @Html.ValidationSummary()

            <div class="modal-body">
                <div class="form-group">
                    @Html.TextBoxFor(u => Model.UserName, new { @class = "form-control input-lg", @style = "max-width:100%", @placeholder = "Username", @title = "Username", @required = "required" })
                    @Html.ValidationMessageFor(u => Model.UserName)
                </div>
                <div class="form-group">
                    @Html.PasswordFor(u => Model.Password, new { @class = "form-control input-lg", @style = "max-width:100%", @placeholder = "Password", @title = "Password", @required = "required" })
                    @Html.ValidationMessageFor(u => Model.Password)
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-block btn-lg btn-primary" style="max-width:100%" value="Login" />
                    @Html.ActionLink("Register", "RegisterPage", "Acount", null, new { @style = "margin-right:55.5%" })
                    <span><a href="#">Forgot Password</a></span>
                </div>
            </div>
        }
    </div>
</div>


